div.navBar>ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    padding: 0;
    /*Not really sure why this has to be hidden*/
    overflow: hidden;
    background-color: #333;
}

div.navBar li {
    float: left;
}

div.navBar li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

div.navBar li>a:hover {
    background-color: #111;
}

div.mainText {
    margin-left: 10%;
    margin-right: 10%;
    background: white;
    height: 100%;
    color: #222222;
    font-size: 16px;
}

div.mainText p {
    margin-left: 10%;
    margin-right: 10%;
}

div.mainText h1 {
    margin-left: 10%;
    margin-right: 10%;
}

div.mainText h2 {
    margin-left: 10%;
    margin-right: 10%;
}

div.mainText ul {
    margin-left: 10%;
    margin-right: 10%;
}

div.tableNav>button {
    background: #333333;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-weight: bolder;
    border: none;
}
div.tableNav>button:hover{
    background: #555;
    cursor: pointer;
}
div.tableNav>input{
    color: white;
    background: #444444;
    padding: 10px;
    border: none;
    text-align: center;
    font-weight: bolder;
    width: 4%;
}

div.mainText table{
    margin-left: 10%;
    width: 80%;
}

div.mainText div{
    margin-left: 10%;
}

@font-face {
    font-family: adobesource;
    src: url('SourceSansPro-Regular.ttf');
}

a.privpol {
    text-decoration: none;
    color: #222222;
}

table {
    border-collapse: collapse;
}

table th {
    text-align: left;
    background: #333;
    color: white;
    padding: 8px;
}

table input {
    color: white;
    background: #444444;
    padding: 0px;
    border: none;
    border-left-style: solid;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    width: 80%;
    margin-left: 3%;
}

table td {
    text-align: left;
    padding: 6px;
}

table a {
    display:block;
    text-decoration: none;
    color: #222222;
}

table i {
    color: #444444;
}

tr:hover {
    background: #eee
}

table.noborder td{
    text-align: left;
    padding: 6px;
    border: none;
}



table.noborder tr:hover {
    background: white;
}

.collapsible {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 6px;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #555;
}

html, body {
    margin: 0;
    font-family: adobesource;
    background: #eeeeee;
}
