div.navBar>ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
    padding: 0;
    /*Not really sure why this has to be hidden*/
    overflow: hidden;
    background-color: #333;
}

div.navBar li {
    float: left;
}

div.navBar li>a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
}

div.navBar li>a:hover {
    background-color: #111;
}

div.mainText {
    margin-left: 10%;
    margin-right: 10%;
    background: white;
    height: 100%;
}

div.mainText p {
    margin-left: 5%;
    margin-right: 5%;
}

div.mainText table{
    margin-left: 5%;
    margin-right: 5%;
}

@font-face {
    font-family: adobesource;
    src: url('SourceSansPro-Regular.ttf');
  }

html, body {
    margin: 0;
    font-family: adobesource;
    background: linear-gradient(to left, #cccccc, #dddddd);;
}

